.market-wiget {
  background-color: #fff;
  border-radius: 4px;
  height: 400px;
  width: 370px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
  0 1px 1px 0 rgba(0, 0, 0, .14),
  0 1px 3px 0 rgba(0, 0, 0, .12);
  padding: 15px;

  .market-wiget-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: 500;
  }

  .market-wiget-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    .search-wrap {
      input {
        border: none;
        border-bottom: 1px solid #d2d2d2;
        outline: none;
        padding: 6px 5px;
        font-size: 14px;
        transition: border .2s;
        display: block;
        width: 150px;
        text-transform: uppercase;

        &::placeholder {
          padding-left: 3px;
          text-transform: capitalize;
        }

        &:focus {
          border-color: #3e474c;
        }
      }
    }

    .toggle-wrap {
      display: flex;
      justify-content: center;
      align-items: center;

      .radio-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          cursor: pointer;

          .radio-button-point {
            border-color: #222222;
          }
        }

        &.active {
          .radio-button-point {
            &:after {
              background-color: #ffb300;
            }
          }
        }

        .radio-button-point {
          border-radius: 50%;
          background-color: #fff;
          position: relative;
          width: 15px;
          height: 15px;
          border: 1px solid #727272;

          &:after {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 7px;
            height: 7px;
            background-color: #fff;
            border-radius: 50%;
          }
        }

        .radio-button-title {
          font-size: 14px;
          margin-left: 7px;
          position: relative;
          top: -1px;
          color: #727272;
        }
      }

    }
  }

  .market-wiget-navline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;

    .navline-button {
      font-size: 14px;
      color: #555;
      padding: 3px 6px;
      min-width: 40px;
      text-align: center;
      line-height: 14px;
      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .1);
      }

      i {
        font-size: 14px;
      }

      &.active {
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
      }
    }
  }

  .market-wiget-table-wrap {
    height: 257px;

    .empty-tab {
      font-size: 20px;
    }

    table {
      width: calc(100% - 10px);
      border-collapse: collapse;
      margin-right: 10px;

      td {
        &:nth-child(1) {
          width: 130px;
          overflow: hidden;
        }

        &:nth-child(2) {
          width: 110px;
          overflow: hidden;
        }

        &:nth-child(3) {
          width: calc(100% - 240px);
          overflow: hidden;
        }
      }

      thead {
        tr {
          td {
            padding: 3px 5px;

            .sort-button {
              display: inline-flex;
              justify-content: flex-start;
              align-items: center;
              padding: 3px 5px;
              color: #727272;
              user-select: none;

              &:hover {
                cursor: pointer;
                color: #222222;
              }

              .sort-button-indicators {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-left: 6px;
                position: relative;
                top: 2px;
                font-size: 12px;

                i {
                  line-height: 2px;

                  &.active {
                    color: #ffb300;
                  }
                }
              }
            }

            &:nth-child(3) {
              text-align: right;
            }
          }
        }
      }

      tbody {
        tr {
          user-select: none;

          td {
            padding: 3px 7px;

            &:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              color: #727272;
              font-size: 12px;

              .add-to-favotite-button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                padding: 3px;
                font-size: 12px;
                color: rgba(0, 0, 0, .2);

                &:hover {
                  cursor: pointer;
                  color: rgba(0, 0, 0, .3);
                }

                &.active {
                  color: #ffb300;
                }
              }
            }

            &:nth-child(2) {
              font-weight: 500;
              font-size: 12px;
            }

            &:nth-child(3) {
              text-align: right;
              padding-right: 10px;
              font-size: 12px;

              &.success {
                color: #4caf50;
              }

              &.error {
                color: #f44336;
              }
            }
          }
        }
      }
    }
  }
}