@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}